<div class="scaffold-nav">
  <%= link_to 'Back', treatments_path, class: "btn btn-primary" %>
</div>

<h1>New Treatment</h1>

<%= render 'form' %>

<div class="scaffold-nav">
  <%= link_to 'Back', treatments_path, class: "btn btn-primary" %>
</div>

